<header id="izxl" class="header1 static"></header>
<section id="ikvhv" class="gpd-section">
    <div id="ivqbk" class="gpd-container gpd-cnt">
        <div id="i4r1z" class="gdp-row gpd-grid">
            <div id="ib4bl" class="cell gpd-clm">
                <div id="igbo9" class="gpd-text">Electric bikes - Compare the best models</div>
            </div>
            <div id="i6gqx" class="cell gpd-clm">
                <img id="ii6xo" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/6432695a77974d5a87cff227125b88ff_group_80.png"
                class="" />
            </div>
        </div>
    </div>
</section>
<section id="ie43lb" class="gpd-section">
    <div id="ihkwwi" class="gpd-container gpd-cnt">
        <div id="i8hozg" class="gdp-row gpd-grid">
            <div id="ici0cf" class="cell gpd-clm">
                <div id="ijmuc5" class="gpd-text">Compare hundreds of electric bikes</div>
                <div id="iqirvb" class="gpd-text">Easy to use. Data is taken directly from 50+ brands. Save time on your
                    research.</div>
            </div>
            <div id="i31yvp" class="cell gpd-clm">
                <div id="iu97j1" class="gdp-row gpd-grid">
                    <div id="i0kqtp" class="cell gpd-clm">
                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/1de457ad6f7d4a428f6b0af1f71e0b1e_ab1.png"
                        id="iu0fpz" class="" />
                    </div>
                    <div id="i50t2k" class="cell gpd-clm">
                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/5ecc1d1cd7b74fabade60075504ac728_br2.png"
                        id="igixil" class="" />
                    </div>
                    <div id="i3nz1f" class="cell gpd-clm">
                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f2e12e69fd994d3f857566b77663ea03_bra3.png"
                        id="iil7he" class="" />
                    </div>
                    <div id="i1cfpj" class="cell gpd-clm">
                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/adc8339cc85d473c9e29fd930592786b_br4.png"
                        id="ii9ymd" class="" />
                    </div>
                    <div id="i4nqkm" class="cell gpd-clm">
                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/d8fe4a8c42e8486fbfb4c62dcd0c1178_ab2.png"
                        id="ifkuv9" class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="igew7" class="gpd-section">
    <div id="iqjd5" class="gpd-container gpd-cnt">
        <div id="ibevi" class="gdp-row gpd-grid">
            <div id="ic4xf" class="cell gpd-clm">
                <div id="ihcfe" class="gpd-text">Model List</div>
            </div>
            <div id="izqyl" class="cell gpd-clm">
                <div id="iklfs" class="gdp-row gpd-grid">
                    <div id="iqumo" class="cell gpd-clm">
                        <button type="button" id="igabi" class="btn btn-primary">$ 999</button>
                    </div>
                    <div id="i9sup" class="cell gpd-clm">
                        <div id="i1lm9" class="gpd-divider"></div>
                    </div>
                    <div id="ik46f" class="cell gpd-clm">
                        <button type="button" id="ihfd1a" class="btn btn-primary">$ 13525</button>
                    </div>
                </div>
            </div>
            <div id="ilp77" class="cell gpd-clm">
                <div id="ie2pf" class="gdp-row gpd-grid">
                    <div id="ied93" class="cell gpd-clm">
                        <div id="i8u2j" class="gdp-row gpd-grid">
                            <div id="isncx" class="cell gpd-clm">
                                <img id="i2n1s" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f22f5a1c7fe6448cb1b47a9be6618910_path_150.png"
                                class="" />
                            </div>
                            <div id="il3wb" class="cell gpd-clm">
                                <div id="ieecp" class="gpd-text">Moustache</div>
                            </div>
                        </div>
                    </div>
                    <div id="iyxv77" class="cell gpd-clm">
                        <div id="ig148f" class="gdp-row gpd-grid">
                            <div id="i601d" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/e1f61bf31ba5409985f7e10d8c2372e6_path_28611.png"
                                id="i8h8e" class="" />
                            </div>
                            <div id="ibr37t" class="cell gpd-clm">
                                <div id="ivkth" class="gpd-text">Trek</div>
                            </div>
                        </div>
                    </div>
                    <div id="i40ta" class="cell gpd-clm">
                        <div id="iyq2a" class="gdp-row gpd-grid">
                            <div id="is7t8" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/9db0d6f11bbb4ff8a5a1ecf2c907d149_path_152.png"
                                id="ibdb7" class="" />
                            </div>
                            <div id="iwtfc" class="cell gpd-clm">
                                <div id="idf8x" class="gpd-text">CUBE</div>
                            </div>
                        </div>
                    </div>
                    <div id="i8em2" class="cell gpd-clm">
                        <div id="idxyb" class="gdp-row gpd-grid">
                            <div id="i6d0m" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/8de49ed1f3d74a5fb61ec04c55ff9bc1_path_153.png"
                                id="i2xlt" class="" />
                            </div>
                            <div id="iv07t" class="cell gpd-clm">
                                <div id="ij0ft" class="gpd-text">Riese & Muller</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="irygce" class="gdp-row gpd-grid">
                    <div id="ipugx" class="cell gpd-clm">
                        <div id="i76eo" class="gdp-row gpd-grid">
                            <div id="iljut" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/90d7c4f3d7c54ab08ae83d5b6f9a09d1_path_154.png"
                                id="iqcxg" class="" />
                            </div>
                            <div id="i0ols" class="cell gpd-clm">
                                <div id="i1emg" class="gpd-text">BULLS</div>
                            </div>
                        </div>
                    </div>
                    <div id="ikck8" class="cell gpd-clm">
                        <div id="ipdjj" class="gdp-row gpd-grid">
                            <div id="isag1" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/85366311ab2c4b74810863d308cccc88_path_156.png"
                                id="iqpm9" class="" />
                            </div>
                            <div id="i6kgo" class="cell gpd-clm">
                                <div id="ix60w" class="gpd-text">Orbea</div>
                            </div>
                        </div>
                    </div>
                    <div id="i21jgf" class="cell gpd-clm">
                        <div id="irzvv3" class="gdp-row gpd-grid">
                            <div id="i6alf" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/85366311ab2c4b74810863d308cccc88_path_156.png"
                                id="inpxw" class="" />
                            </div>
                            <div id="ija2hq" class="cell gpd-clm">
                                <div id="iw5fke" class="gpd-text">Electra</div>
                            </div>
                        </div>
                    </div>
                    <div id="if2a2w" class="cell gpd-clm">
                        <div id="ixqijp" class="gdp-row gpd-grid">
                            <div id="io5964" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/fc06945f553646dfb33c5449fa34aaa3_path_157.png"
                                id="i76cz6" class="" />
                            </div>
                            <div id="itu8il" class="cell gpd-clm">
                                <div id="irb23o" class="gpd-text">Rad Power Bikes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ijrlvr" class="cell gpd-clm">
                <button type="button" id="i6dw7m" class="btn btn-primary">Find 377 models</button>
            </div>
        </div>
    </div>
</section>
<section id="i8euv" class="gpd-section">
    <div id="isl3p" class="gpd-container gpd-cnt">
        <div id="i4uikr" class="gdp-row gpd-grid">
            <div id="i8f2ro" class="cell gpd-clm">
                <div id="ih7f6s" class="gpd-text">Electric bikes types</div>
            </div>
            <div id="ia45cj" class="cell gpd-clm">
                <div id="i09v9w" class="gdp-row gpd-grid">
                    <div id="iu0wyx" class="cell gpd-clm">
                        <div id="ibf7xm" class="gdp-row gpd-grid">
                            <div id="ia7ta2" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7c7c22d4edcd414496fe552d00930a84_c1.png"
                                id="i9yqmv" class="" />
                            </div>
                            <div id="i252sg" class="cell gpd-clm">
                                <div id="i6eqx7" class="gpd-text">Electric commuter bikes</div>
                            </div>
                            <div id="ipfctg" class="cell gpd-clm">
                                <div id="ivnmt8" class="gpd-text">For longer comutes</div>
                            </div>
                        </div>
                    </div>
                    <div id="in7tzs" class="cell gpd-clm">
                        <div id="idgcix" class="gdp-row gpd-grid">
                            <div id="i0h8wj" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/2230fea3811b424aa7498892670d8595_c2.png"
                                id="i7jivi" class="" />
                            </div>
                            <div id="i8jw1x" class="cell gpd-clm">
                                <div id="i02xyk" class="gpd-text">Electric cruiser bikes</div>
                            </div>
                            <div id="ixxlcd" class="cell gpd-clm">
                                <div id="iszzo3" class="gpd-text">For light cycling & cruising</div>
                            </div>
                        </div>
                    </div>
                    <div id="i7f029" class="cell gpd-clm">
                        <div id="i30vf9" class="gdp-row gpd-grid">
                            <div id="ixvvar" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/07c169c44c13464698bd049e6e609abd_c3.png"
                                id="ilns6o" class="" />
                            </div>
                            <div id="im17cv" class="cell gpd-clm">
                                <div id="iykzcj" class="gpd-text">Electric Folding bikes</div>
                            </div>
                            <div id="iwuqzf" class="cell gpd-clm">
                                <div id="i9h86o" class="gpd-text">For extra mobility</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="iu2hny" class="gdp-row gpd-grid">
                    <div id="ixckcz" class="cell gpd-clm">
                        <div id="izfuuc" class="gdp-row gpd-grid">
                            <div id="izrits" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/07c169c44c13464698bd049e6e609abd_c3.png"
                                id="iakaf8" class="" />
                            </div>
                            <div id="ima3ch" class="cell gpd-clm">
                                <div id="i971lb" class="gpd-text">Electric mountain bikes</div>
                            </div>
                            <div id="i2j6nm" class="cell gpd-clm">
                                <div id="iye70g" class="gpd-text">For cycling in the mountains</div>
                            </div>
                        </div>
                    </div>
                    <div id="ilpo75" class="cell gpd-clm">
                        <div id="ij1yat" class="gdp-row gpd-grid">
                            <div id="iar7lb" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/2230fea3811b424aa7498892670d8595_c2.png"
                                id="iir2ik" class="" />
                            </div>
                            <div id="ib4iyw" class="cell gpd-clm">
                                <div id="ite08k" class="gpd-text">Electric road bikes</div>
                            </div>
                            <div id="i1sco6" class="cell gpd-clm">
                                <div id="ij7mdg" class="gpd-text">For extra speed</div>
                            </div>
                        </div>
                    </div>
                    <div id="iticsp" class="cell gpd-clm">
                        <div id="imkwek" class="gdp-row gpd-grid">
                            <div id="i31s2e" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7c7c22d4edcd414496fe552d00930a84_c1.png"
                                id="iio78n" class="" />
                            </div>
                            <div id="ip0zii" class="cell gpd-clm">
                                <div id="ieiuoh" class="gpd-text">Electric Fat bikes</div>
                            </div>
                            <div id="i795mi" class="cell gpd-clm">
                                <div id="iey4tc" class="gpd-text">For extra storage</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ikdhsv" class="gpd-section">
    <div id="iygh6f" class="gpd-container gpd-cnt">
        <div id="idxxdk" class="gdp-row gpd-grid">
            <div id="i43u4f" class="cell gpd-clm">
                <div id="i61hke" class="gdp-row gpd-grid">
                    <div id="i1a2hk" class="cell gpd-clm">
                        <div id="iqtlwk" class="gpd-text">Best seller</div>
                        <div id="ic4pam" class="gpd-text">Top 10 Best Electric Bikes 2021</div>
                    </div>
                    <div id="ij8jqc" class="cell gpd-clm">
                        <div id="iown1u" class="gdp-row gpd-grid">
                            <div id="iy009l" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/4b5891fb097c45288832b07de06f1cbb_arrow-left.png"
                                id="ilh1qw" class="" />
                            </div>
                            <div id="ir90mx" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/85e726dc24914133b6fbb9a7fc68f679_arrow-right.png"
                                id="iqgmwq" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="icatdy" class="cell gpd-clm">
                <div id="id2zkb" class="gdp-row gpd-grid">
                    <div id="template-i0wq3l" class="cell gpd-clm">
                        <div id="ic25dc" class="gdp-row gpd-grid">
                            <div id="template-ies8x9" class="cell gpd-clm">
                                <div id="ifsqva" class="gdp-row gpd-grid">
                                    <div id="ikqevq" class="cell gpd-clm">
                                        <div id="ifbx79" class="gpd-text">MSRP : $4199</div>
                                        <div id="ivm08d" class="gpd-text">Stormer ST1 X</div>
                                    </div>
                                    <div id="i4cqbg" class="cell gpd-clm">
                                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/69c9c4319ea5493b8dc8e79ec38f0a10_plus2.png"
                                        id="ii79yh" class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="ia84lh" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/20bb63a2ea724655b73291eaaf55861b_cyc1.png"
                                id="i12hhz" class="" />
                            </div>
                            <div id="template-iab043" class="cell gpd-clm">
                                <div id="in14ne" class="gdp-row gpd-grid">
                                    <div id="iufuhb" class="cell gpd-clm">
                                        <div id="ik2r0z" class="gdp-row gpd-grid">
                                            <div id="i16tya" class="cell gpd-clm">
                                                <div id="imqjf6" class="gdp-row gpd-grid">
                                                    <div id="i92h5d" class="cell gpd-clm">
                                                        <div id="ims6xf" class="gpd-text">Motor torque</div>
                                                    </div>
                                                    <div id="ivqr9o" class="cell gpd-clm">
                                                        <div id="inke8w" class="gpd-text">35 Nm</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="i690ff" class="cell gpd-clm">
                                                <div id="iux33h" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="iqmgyy" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="iied6v" class="cell gpd-clm">
                                        <div id="iejkmf" class="gdp-row gpd-grid">
                                            <div id="ip4gsb" class="cell gpd-clm">
                                                <div id="i9q09h" class="gdp-row gpd-grid">
                                                    <div id="i12v0c" class="cell gpd-clm">
                                                        <div id="iccl1o" class="gpd-text">Battery capicity</div>
                                                    </div>
                                                    <div id="i0e9za" class="cell gpd-clm">
                                                        <div id="icd67j" class="gpd-text">618 Wh</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="icrofv" class="cell gpd-clm">
                                                <div id="isrxlr" class="progress">
                                                    <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                                                    id="igumkb" class="progress-bar bg-primary">65%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="idr4fh" class="cell gpd-clm">
                                        <div id="if5plr" class="gdp-row gpd-grid">
                                            <div id="iztwjl" class="cell gpd-clm">
                                                <div id="iyfose" class="gdp-row gpd-grid">
                                                    <div id="idib8s" class="cell gpd-clm">
                                                        <div id="ilmtu5" class="gpd-text">Mileage</div>
                                                    </div>
                                                    <div id="ivugtk" class="cell gpd-clm">
                                                        <div id="i474tk" class="gpd-text">75 Mi / 121 Km</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="i03gqn" class="cell gpd-clm">
                                                <div id="iq3n3r" class="progress">
                                                    <div role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"
                                                    id="iuwv2w" class="progress-bar bg-primary">47%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ijcy44" class="cell gpd-clm">
                        <div id="i3kh1s" class="gdp-row gpd-grid">
                            <div id="template-io49cj" class="cell gpd-clm">
                                <div id="ib6gyg" class="gdp-row gpd-grid">
                                    <div id="igcb7w" class="cell gpd-clm">
                                        <div id="ipgyt6" class="gpd-text">MSRP : $1195</div>
                                        <div id="iy1mlh" class="gpd-text">Ride1Up Core-5</div>
                                    </div>
                                    <div id="i8eder" class="cell gpd-clm">
                                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/69c9c4319ea5493b8dc8e79ec38f0a10_plus2.png"
                                        id="ip5kfs" class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="i0454g" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/a012ed9461bb440c98e872f5e52a1a8b_cyc2.png"
                                id="it2mgh" class="" />
                            </div>
                            <div id="template-ifrpwv" class="cell gpd-clm">
                                <div id="igfd6v" class="gdp-row gpd-grid">
                                    <div id="ipsyus" class="cell gpd-clm">
                                        <div id="ikyjtq" class="gdp-row gpd-grid">
                                            <div id="i2ks5g" class="cell gpd-clm">
                                                <div id="in3h3l" class="gdp-row gpd-grid">
                                                    <div id="iqe3oj" class="cell gpd-clm">
                                                        <div id="i3t1uj" class="gpd-text">Motor torque</div>
                                                    </div>
                                                    <div id="id54bh" class="cell gpd-clm">
                                                        <div id="i4xxrw" class="gpd-text">60 Nm</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ioepwr" class="cell gpd-clm">
                                                <div id="idowbw" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="i65xg9" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ilh1pi" class="cell gpd-clm">
                                        <div id="iudis4" class="gdp-row gpd-grid">
                                            <div id="i4a16h" class="cell gpd-clm">
                                                <div id="iye6jy" class="gdp-row gpd-grid">
                                                    <div id="ioz8yr" class="cell gpd-clm">
                                                        <div id="icxset" class="gpd-text">Battery capicity</div>
                                                    </div>
                                                    <div id="i7rkz1" class="cell gpd-clm">
                                                        <div id="ir1sak" class="gpd-text">624 Wh</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="iz3nsc" class="cell gpd-clm">
                                                <div id="il9ywq" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="iuenu2" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="infhfl" class="cell gpd-clm">
                                        <div id="ihvgas" class="gdp-row gpd-grid">
                                            <div id="ighkwa" class="cell gpd-clm">
                                                <div id="ixnhjm" class="gdp-row gpd-grid">
                                                    <div id="i5811k" class="cell gpd-clm">
                                                        <div id="iaeqxy" class="gpd-text">Mileage</div>
                                                    </div>
                                                    <div id="igjmwt" class="cell gpd-clm">
                                                        <div id="iy797w" class="gpd-text">40 Mi / 64 Km</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="id585i" class="cell gpd-clm">
                                                <div id="i8rsxk" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="iti5wg" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ivagr8" class="cell gpd-clm">
                        <div id="iac4p8" class="gdp-row gpd-grid">
                            <div id="template-iap4yj" class="cell gpd-clm">
                                <div id="iusuxb" class="gdp-row gpd-grid">
                                    <div id="isnhqh" class="cell gpd-clm">
                                        <div id="i17577" class="gpd-text">MSRP : $2599</div>
                                        <div id="i5z0h8" class="gpd-text">CUBE Town 400</div>
                                    </div>
                                    <div id="i4rtof" class="cell gpd-clm">
                                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/69c9c4319ea5493b8dc8e79ec38f0a10_plus2.png"
                                        id="i0euyg" class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="is57hi" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7bbcc03e2bed42e3a594ca5b19412124_cyc3.png"
                                id="i9xmql" class="" />
                            </div>
                            <div id="template-ioxwb9" class="cell gpd-clm">
                                <div id="ijgspd" class="gdp-row gpd-grid">
                                    <div id="i0h6ql" class="cell gpd-clm">
                                        <div id="i3kb0a" class="gdp-row gpd-grid">
                                            <div id="iwa0ph" class="cell gpd-clm">
                                                <div id="i91k0m" class="gdp-row gpd-grid">
                                                    <div id="iu96x2" class="cell gpd-clm">
                                                        <div id="i2v2we" class="gpd-text">Motor torque</div>
                                                    </div>
                                                    <div id="iutc1v" class="cell gpd-clm">
                                                        <div id="itcm0y" class="gpd-text">50 Nm</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ivdmv4" class="cell gpd-clm">
                                                <div id="izxilh" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="i4e62n" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ifiq2m" class="cell gpd-clm">
                                        <div id="ivc5qu" class="gdp-row gpd-grid">
                                            <div id="iosye5" class="cell gpd-clm">
                                                <div id="iwzn22" class="gdp-row gpd-grid">
                                                    <div id="iznf8t" class="cell gpd-clm">
                                                        <div id="i9d9as" class="gpd-text">Battery capicity</div>
                                                    </div>
                                                    <div id="i7trsj" class="cell gpd-clm">
                                                        <div id="idgll9" class="gpd-text">400 Wh</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="isgzmk" class="cell gpd-clm">
                                                <div id="ii8wci" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="ilsm5d" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ioit26" class="cell gpd-clm">
                                        <div id="ipl1y2" class="gdp-row gpd-grid">
                                            <div id="in4ai1" class="cell gpd-clm">
                                                <div id="ibtfnj" class="gdp-row gpd-grid">
                                                    <div id="iqknci" class="cell gpd-clm">
                                                        <div id="i7wqtq" class="gpd-text">Mileage</div>
                                                    </div>
                                                    <div id="it6qwu" class="cell gpd-clm">
                                                        <div id="iyq9ji" class="gpd-text">90 Mi / 145 Km</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="i12zsu" class="cell gpd-clm">
                                                <div id="itpmsh" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="ihmxxr" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ii8lst" class="gpd-section">
    <div id="iherzv" class="gpd-container gpd-cnt">
        <div id="ikcwxg" class="gdp-row gpd-grid">
            <div id="i78i4n" class="cell gpd-clm">
                <div id="i4uq7v" class="gdp-row gpd-grid">
                    <div id="ii0n7n" class="cell gpd-clm">
                        <div id="isc7oj" class="gdp-row gpd-grid">
                            <div id="iff7j4" class="cell gpd-clm">
                                <div id="ihoqgm" class="gpd-text">Low price electric bikes</div>
                            </div>
                            <div id="ip8cdl" class="cell gpd-clm">
                                <div id="i502pf" class="gdp-row gpd-grid">
                                    <div id="ins8al" class="cell gpd-clm">
                                        <button type="button" id="iu1b82" class="btn btn-primary">Commuter</button>
                                    </div>
                                    <div id="icpggc" class="cell gpd-clm">
                                        <button type="button" id="iea7zi" class="btn btn-primary">Cruiser</button>
                                    </div>
                                    <div id="i72puq" class="cell gpd-clm">
                                        <button type="button" id="i0sv8g" class="btn btn-primary">Mountain</button>
                                    </div>
                                    <div id="ittebj" class="cell gpd-clm">
                                        <button type="button" id="ib39y2" class="btn btn-primary">Road</button>
                                    </div>
                                    <div id="i3k2x2" class="cell gpd-clm">
                                        <button type="button" id="idpi75" class="btn btn-primary">Cargo</button>
                                    </div>
                                    <div id="ia1t6r" class="cell gpd-clm">
                                        <button type="button" id="ie7sto" class="btn btn-primary">Fat tire</button>
                                    </div>
                                    <div id="imur8j" class="cell gpd-clm">
                                        <button type="button" id="igrggz" class="btn btn-primary">Folding</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="i2kx54" class="cell gpd-clm">
                        <div id="itxuyf" class="gdp-row gpd-grid">
                            <div id="isxkas" class="cell gpd-clm">
                                <img id="iz26tr" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/4b5891fb097c45288832b07de06f1cbb_arrow-left.png"
                                class="" />
                            </div>
                            <div id="iov0r7" class="cell gpd-clm">
                                <img id="iyj3xi" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/85e726dc24914133b6fbb9a7fc68f679_arrow-right.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ibgy8j" class="cell gpd-clm">
                <div id="iya2qr" class="gdp-row gpd-grid">
                    <div id="iavrrc" class="cell gpd-clm">
                        <div id="i4nry8" class="gdp-row gpd-grid">
                            <div id="iiu8ex" class="cell gpd-clm">
                                <div id="imh1ez" class="gdp-row gpd-grid">
                                    <div id="ig11l1" class="cell gpd-clm">
                                        <div id="ilugqk" class="gpd-text">MSRP : $4199</div>
                                        <div id="i0zmok" class="gpd-text">Stormer ST1 X</div>
                                    </div>
                                    <div id="iegd5e" class="cell gpd-clm">
                                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/69c9c4319ea5493b8dc8e79ec38f0a10_plus2.png"
                                        id="icgjeh" class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="ixcvjs" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/20bb63a2ea724655b73291eaaf55861b_cyc1.png"
                                id="id0bb8" class="" />
                            </div>
                            <div id="imhjp4" class="cell gpd-clm">
                                <div id="in207r" class="gdp-row gpd-grid">
                                    <div id="i9fijk" class="cell gpd-clm">
                                        <div id="ipyfx3" class="gdp-row gpd-grid">
                                            <div id="iv6j46" class="cell gpd-clm">
                                                <div id="ifae4c" class="gdp-row gpd-grid">
                                                    <div id="ixji2p" class="cell gpd-clm">
                                                        <div id="i7ps05" class="gpd-text">Motor torque</div>
                                                    </div>
                                                    <div id="iz607i" class="cell gpd-clm">
                                                        <div id="in5sv3" class="gpd-text">35 Nm</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="i3cvlr" class="cell gpd-clm">
                                                <div id="iahqoz" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="i1i8lh" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ioy44k" class="cell gpd-clm">
                                        <div id="ixlut6" class="gdp-row gpd-grid">
                                            <div id="i7ythz" class="cell gpd-clm">
                                                <div id="iahw6r" class="gdp-row gpd-grid">
                                                    <div id="ie7cz6" class="cell gpd-clm">
                                                        <div id="igj544" class="gpd-text">Battery capicity</div>
                                                    </div>
                                                    <div id="idmv2t" class="cell gpd-clm">
                                                        <div id="i1fgzc" class="gpd-text">618 Wh</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="iizkfz" class="cell gpd-clm">
                                                <div id="iy48re" class="progress">
                                                    <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                                                    id="ibvb0r" class="progress-bar bg-primary">65%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="i3mw1t" class="cell gpd-clm">
                                        <div id="iz0orj" class="gdp-row gpd-grid">
                                            <div id="io28zl" class="cell gpd-clm">
                                                <div id="ifhtji" class="gdp-row gpd-grid">
                                                    <div id="ifsqsc" class="cell gpd-clm">
                                                        <div id="iv7xh9" class="gpd-text">Mileage</div>
                                                    </div>
                                                    <div id="ihgww5" class="cell gpd-clm">
                                                        <div id="ik5tdw" class="gpd-text">75 Mi / 121 Km</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="iasp1h" class="cell gpd-clm">
                                                <div id="ioccty" class="progress">
                                                    <div role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"
                                                    id="is6i8p" class="progress-bar bg-primary">47%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="i7cvu9" class="cell gpd-clm">
                        <div id="icc8n4" class="gdp-row gpd-grid">
                            <div id="i083b4" class="cell gpd-clm">
                                <div id="i8ekdu" class="gdp-row gpd-grid">
                                    <div id="iy6x9s" class="cell gpd-clm">
                                        <div id="igx0wn" class="gpd-text">MSRP : $1195</div>
                                        <div id="inriv5" class="gpd-text">Ride1Up Core-5</div>
                                    </div>
                                    <div id="izsnwm" class="cell gpd-clm">
                                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/69c9c4319ea5493b8dc8e79ec38f0a10_plus2.png"
                                        id="i0xp2e" class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="i9p33x" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/a012ed9461bb440c98e872f5e52a1a8b_cyc2.png"
                                id="i77mry" class="" />
                            </div>
                            <div id="iktr6k" class="cell gpd-clm">
                                <div id="iyopec" class="gdp-row gpd-grid">
                                    <div id="i1h43t" class="cell gpd-clm">
                                        <div id="i3n4ki" class="gdp-row gpd-grid">
                                            <div id="io4bsb" class="cell gpd-clm">
                                                <div id="imiblq" class="gdp-row gpd-grid">
                                                    <div id="in4qfl" class="cell gpd-clm">
                                                        <div id="ips13v" class="gpd-text">Motor torque</div>
                                                    </div>
                                                    <div id="i2zx93" class="cell gpd-clm">
                                                        <div id="ig63sa" class="gpd-text">60 Nm</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="i9vrcj" class="cell gpd-clm">
                                                <div id="izb5nh" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="i41upj" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ihac6x" class="cell gpd-clm">
                                        <div id="igvkkx" class="gdp-row gpd-grid">
                                            <div id="iu2zjm" class="cell gpd-clm">
                                                <div id="iybokt" class="gdp-row gpd-grid">
                                                    <div id="ioe7e6" class="cell gpd-clm">
                                                        <div id="ic9cwi" class="gpd-text">Battery capicity</div>
                                                    </div>
                                                    <div id="i2uxip" class="cell gpd-clm">
                                                        <div id="i26knh" class="gpd-text">624 Wh</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="i8dywp" class="cell gpd-clm">
                                                <div id="i1gw0k" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="il19ze" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ietf09" class="cell gpd-clm">
                                        <div id="ietixi" class="gdp-row gpd-grid">
                                            <div id="iramzh" class="cell gpd-clm">
                                                <div id="ispyp3" class="gdp-row gpd-grid">
                                                    <div id="ixv1q3" class="cell gpd-clm">
                                                        <div id="iowk98" class="gpd-text">Mileage</div>
                                                    </div>
                                                    <div id="ireucz" class="cell gpd-clm">
                                                        <div id="iohgfm" class="gpd-text">40 Mi / 64 Km</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ic8jvj" class="cell gpd-clm">
                                                <div id="ivtct7" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="i2net5" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="it3d61" class="cell gpd-clm">
                        <div id="iod9sq" class="gdp-row gpd-grid">
                            <div id="ihkf1l" class="cell gpd-clm">
                                <div id="ijuqbh" class="gdp-row gpd-grid">
                                    <div id="i7ijnt" class="cell gpd-clm">
                                        <div id="i41fi7" class="gpd-text">MSRP : $2599</div>
                                        <div id="ileyzk" class="gpd-text">CUBE Town 400</div>
                                    </div>
                                    <div id="i1ku78" class="cell gpd-clm">
                                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/69c9c4319ea5493b8dc8e79ec38f0a10_plus2.png"
                                        id="ia9ski" class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="iwtbmg" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7bbcc03e2bed42e3a594ca5b19412124_cyc3.png"
                                id="i4t7al" class="" />
                            </div>
                            <div id="ibmh7g" class="cell gpd-clm">
                                <div id="i01yek" class="gdp-row gpd-grid">
                                    <div id="ihhwf4" class="cell gpd-clm">
                                        <div id="iytug3" class="gdp-row gpd-grid">
                                            <div id="i5t39u" class="cell gpd-clm">
                                                <div id="i540qs" class="gdp-row gpd-grid">
                                                    <div id="icjx65" class="cell gpd-clm">
                                                        <div id="iam1fg" class="gpd-text">Motor torque</div>
                                                    </div>
                                                    <div id="irsrcn" class="cell gpd-clm">
                                                        <div id="i83jkc" class="gpd-text">50 Nm</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="iuyft7" class="cell gpd-clm">
                                                <div id="i6l4rq" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="i98pvt" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="itlw43" class="cell gpd-clm">
                                        <div id="igcb3j" class="gdp-row gpd-grid">
                                            <div id="il1aoq" class="cell gpd-clm">
                                                <div id="i1xy1h" class="gdp-row gpd-grid">
                                                    <div id="ivo7my" class="cell gpd-clm">
                                                        <div id="ibt1g5" class="gpd-text">Battery capicity</div>
                                                    </div>
                                                    <div id="i8twbf" class="cell gpd-clm">
                                                        <div id="irpzjy" class="gpd-text">400 Wh</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="i0ixdi" class="cell gpd-clm">
                                                <div id="ic1igv" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="ij39mq" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ioyz3t" class="cell gpd-clm">
                                        <div id="i7h6af" class="gdp-row gpd-grid">
                                            <div id="is6mfd" class="cell gpd-clm">
                                                <div id="izju6a" class="gdp-row gpd-grid">
                                                    <div id="ir1kph" class="cell gpd-clm">
                                                        <div id="i95ejg" class="gpd-text">Mileage</div>
                                                    </div>
                                                    <div id="i002fj" class="cell gpd-clm">
                                                        <div id="i3ms1t" class="gpd-text">90 Mi / 145 Km</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ip66dq" class="cell gpd-clm">
                                                <div id="i9souh" class="progress">
                                                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    id="irvjc4" class="progress-bar bg-primary">25%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>