<footer id="irxtbk" class="gpd-section">
    <div id="id6huv" class="gpd-container gpd-cnt">
        <div id="itw981" class="gdp-row gpd-grid">
            <div id="ij5fhj" class="cell gpd-clm">
                <img id="ix930x" src="https://cdn.grapedrop.com/u5129d9550ab64e5a8a9dd4793644e5e7/714a528bf62f4d1aa0eb507da72fe9ee_electricglide.png"
                class="" />
                <div id="i5bz1g" class="gpd-text">
                    <div id="template-ixkjzl" class="">Compare hundreds of electric bikes</div>
                    <br id="template-i2hsn3" class="">
                    <div id="template-iaf7ir" class="">at one website.</div>
                </div>
            </div>
            <div id="ij7eeh" class="cell gpd-clm">
                <div id="im49kv" class="gpd-text">
                    <div id="template-i3ti1a" class="">About</div>
                    <br id="template-it79uf" class="">
                    <div id="template-ihff31" class="">Dealers</div>
                    <br id="template-il6wfr" class="">
                    <div id="template-iumzwd" class="">​​​​​​​Ads</div>
                    <br id="template-i6wn7y" class="">
                </div>
                <div id="i6mfbk" class="gpd-text">
                    <div id="template-i6753a" class="">Catalog</div>
                    <br id="template-ifmo3g" class="">
                    <div id="template-i3k0zi" class="">Comparison</div>
                </div>
            </div>
            <div id="iivdot" class="cell gpd-clm">
                <div id="ioy1ll" class="gpd-text">
                    <div id="template-ig673z" class="">Not Sure Which Electric</div>
                    <br id="template-ix37d8" class="">
                    <div id="template-i9n13g" class="">Bike To Choose?</div>
                </div>
                <button type="button" id="i0w1n" class="btn btn-primary">Take a Quiz</button>
            </div>
        </div>
        <div id="iztyix" class="gdp-row gpd-grid">
            <div id="ij6c7h" class="cell gpd-clm">
                <div id="i8en9g" class="gpd-text">All Rights Reserved. Copyright 2021. Electricbike24</div>
            </div>
        </div>
    </div>
</footer>